dist/
build/
main.spec
__pycache__/
chrome_profile/
chromedriver.exe
Lancamentos/__pycache__
chromedriver
venv/
debug.path.txt
verificar_notas/__pycache__
verificar_notas/__init__.py
verificar_notas/consultar_notas/__pycache__